%h3= forum.name

- if forum.parent
  .parent
    %span (parent:
    %span= link_to forum.parent.name, forum.parent
    %span )
    
    .children= link_to t('links.children'), children_forum_path(forum)

%div    
  - if can? :create, Post
    = link_to t('links.create_post'), new_forum_post_path(forum), class: 'btn btn-primary'

  - if params[:action] == 'all_posts'
    = link_to t('links.hide_pending_posts'), forum_path(forum), class: 'btn btn-default'
  - else
    = link_to t('links.show_all_posts'), all_posts_forum_path(forum), class: 'btn btn-default'
  
#posts  
  - posts.each do |post|
    .post.row
      .col-md-1= render partial: 'posts/vote_block', locals: { forum: forum, post: post }

      .col-md-10
        = render partial: 'posts/header', locals: { post: post }
        .subject= link_to post.subject, post_path(post)

      .col-md-1= render partial: 'posts/approve_block', locals: { forum: forum, post: post }
