%h3= forum.name

- if forum.parent
  .parent
    %span (parent:
    %span= link_to forum.parent.name, forum.parent
    %span )
    
    .children= link_to t('links.children'), children_forum_path(forum)

%div    
  - if can? :post_topic, nil, current_user
    = link_to t('links.create_post'), new_forum_post_path(forum), class: 'btn btn-primary'

  - if params[:action] == 'all_posts'
    = link_to t('links.hide_pending_posts'), forum_path(forum), class: 'btn btn-default'
  - else
    = link_to t('links.show_all_posts'), all_posts_forum_path(forum), class: 'btn btn-default'
  
%ul#posts  
  - posts.each do |post|
    .post
      .row.post-date= post.updated_at
      .row= link_to post.subject, forum_post_path(forum, post)
