%h2
  Edit #{resource_name.to_s.humanize}
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!

  = f.hidden_field :latitude
  = f.hidden_field :longitude

  .form-group
    = f.label :email
    = f.email_field :email, autofocus: true, class: 'form-control'
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}

  .form-group
    = f.label :phone
    = f.phone_field :phone, class: 'form-control'

  .form-group
    = f.label :password
    %i (leave blank if you don't want to change it)
    = f.password_field :password, autocomplete: "off", class: 'form-control'

  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'

  - if can? :post_topic, nil, current_user
    .form-group
      = f.label :zip_code
      %em= t('hints.location_button')

      .input-group
        %span.input-group-btn
          %button#get_location.btn.btn-default{ title: t('links.get_location'), type: 'button' }
            %span.glyphicon.glyphicon-map-marker
        = f.text_field :zip_code, class: 'form-control'
      
  .actions
    = f.submit "Update", class: 'btn btn-default'

- if !current_user.sms_confirmed
  %h3 Verify Your Account
  = form_tag(verify_code_path) do
    .form-group
      = label_tag :code
      = text_field :user, :sms_code, value: nil, class: 'form-control'

    = submit_tag 'Verify Account', class: 'btn btn-default'

  %h3 Resend Code

  = form_tag(resend_code_path) do
    = submit_tag 'Resend Code', class: 'btn btn-default'

%h3 Cancel my account
%p
  Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger'}

= link_to "Back", :back
