%h3= t('headers.search_result') % [ term ]
#users
  - results.each do |user|
    .row
      .col-md-4
        - if user.poster?
          %span.label.label-info= t('labels.poster')

        - if user.moderator?
          %span.label.label-warning= t('labels.moderator')

        - if user.admin?
          %span.label.label-danger= t('labels.admin')      

        %span= user.email
          
      .col-md-1 &nbsp;
        
      .col-md-4
        - if !user.sms_confirmed
          %button.btn.btn-sm.btn-primary= t('links.verify')
        
        - if user.sms_confirmed and user.poster?
          %button.btn.btn-sm.btn-primary= t('links.promote')

        - if user.moderator?
          %button.btn.btn-sm.btn-warning= t('links.demote')      

= paginate results    
