= link_to t('links.edit_account'), edit_user_registration_path, class: 'btn btn-default'

%h3= t('headers.your_approved_posts')
%ul#approved_posts
  - current_user.approved_posts.each do |post|
    %li= link_to post.subject, forum_post_path(post.forum, post)

%h3= t('headers.your_pending_posts')
%ul#pending_posts
  - current_user.pending_posts.each do |post|
    %li= link_to post.subject, forum_post_path(post.forum, post)

- if current_user.admin?
  %h3= t('headers.pending_users')
  %ul#pending_users
    - User.pending.each do |user|
      %li= user.email

  %h3= t('headers.moderators_by_region')
  %em List of moderators grouped by region (?)

- if current_user.admin? or current_user.moderator?
  %h3= t('headers.find_user')
  %em Find a user by phone or email (for manual verification, mod promotion, banning, etc.)

  %form#user_search_form{ action: user_search_path, method: 'get' }      
    .form-group
      .input-group
        = text_field_tag :term, nil, class: 'form-control'
        
        %span.input-group-btn
          %button.btn.btn-default
            %span.glyphicon.glyphicon-search

- if current_user.moderator?
  %h3= t('headers.mod_pending_posts')
  %em Pending posts in moderator's region
