= link_to t('links.edit_account'), edit_user_registration_path, class: 'btn btn-default'

%h3= t('headers.your_approved_posts')
%ul#approved_posts
  - current_user.approved_posts.each do |post|
    %li= link_to post.subject, forum_post_path(post.forum, post)

%h3= t('headers.your_pending_posts')
%ul#pending_posts
  - current_user.pending_posts.each do |post|
    %li= link_to post.subject, forum_post_path(post.forum, post)

- if current_user.admin?
  %h3= t('headers.pending_users')
  %ul#pending_users
    - User.pending.each do |user|
      %li= user.email

  %h3= t('headers.moderators_by_region')
  %em List of moderators grouped by region (?)

  %h3= t('headers.find_user')
  %em Find a user by phone or email (for manual verification, mod promotion, banning, etc.)

- if current_user.moderator?
  %h3= t('headers.mod_pending_posts')
  %em Pending posts in moderator's region
