.form-group
  = f.label :subject
  = f.text_field :subject, class: 'form-control'

.form-group
  = f.label :body
  = f.text_area :body, class: 'form-control'

.form-group
  = f.submit class: 'btn btn-primary'
