.post-date
  %span= post.updated_at
  %span= t('words.by')
  %span= post.user.deleted? ? t('labels.deleted'): post.user.email
  %span= t('words.in')
  %span= link_to post.forum.name, forum_path(post.forum)
  
