.post.row
  .col-md-1= render partial: 'posts/vote_block', locals: { forum: post.forum, post: post }
  
  .col-md-10
    %h3= post.subject
    %p= post.body
    
  .col-md-1= render partial: 'posts/approve_block', locals: { forum: post.forum, post: post }

- if can? :create, Post, current_user
  = form_for [ post.forum, post, Comment.new ] do |f|
    .form-group
      = f.label :comment
      = f.text_area :body, class: 'form-control'

    .form-group
      = f.submit class: 'btn btn-primary'

%ul#comments
  - post.comments.each do |c|
    .comment
      .row.post-date= c.updated_at
      .row= c.body
