.post.votable.row
  .col-md-1= render partial: 'posts/vote_block', locals: { post: post }
  
  .col-md-10
    %h3= post.subject
    
    .post-date
      %span= post.updated_at
      %span= t('words.by')
      %span= post.user.email
      %span= t('words.in')
      %span= link_to post.forum.name, forum_path(post.forum)

    %p= post.body
    
  .col-md-1
    .row= render partial: 'posts/approve_block', locals: { post: post }
    %span.h6 &nbsp;
    .row= render partial: 'posts/delete', locals: { post: post }

- if can? :create, Post, current_user
  = form_for [ post, Comment.new ] do |f|
    .form-group
      = f.label :comment
      = f.text_area :body, class: 'form-control'

    .form-group
      = f.submit class: 'btn btn-primary'

%ul#comments
  - post.comments.each do |c|
    .comment.votable.row
      .col-md-1= render partial: 'comments/vote_block', locals: { post: post, comment: c }
      .col-md-10
        .row.post-date
          %span= c.updated_at
          %span= t('words.by')
          %span= c.user.email
        .row= c.body

      .col-md-1
        .row= render partial: 'comments/delete', locals: { comment: c }
