!!!
%html
  %head
    %title= t 'title'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    
  %body
    .container-fluid
      %p.notice= notice
      %p.alert= alert

      %nav.navbar.navbar-default
        .navbar-header
          = link_to t('links.home'), root_path, { class: 'navbar-brand' }

        %ul.nav.navbar-nav
          %li= link_to t('links.forums'), forums_path
          %li= link_to t('links.about'), about_path
          %li
            - if user_signed_in?
              = link_to t('links.dashboard'), dashboard_path
            - else
              = link_to t('links.log_in'), new_user_session_path

          - if user_signed_in?
            %li
              = link_to t('links.log_out'), destroy_user_session_path, method: 'delete'

      #content
        = yield
