!!!
%html
  %head
    %title= t 'title'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    = render 'home/routes'

    - if user_signed_in?
      = render 'home/user_json'
    
  %body
    .container-fluid
      - if flash[:notice]
        %p.alert.alert-info= flash[:notice]

      - if flash[:alert]
        %p.alert.alert-warning= flash[:alert]

      - if flash[:error]
        %p.alert.alert-danger= flash[:error]

      %nav.navbar.navbar-default
        .navbar-header
          = link_to t('links.home'), root_path, { class: 'navbar-brand' }

        %ul.nav.navbar-nav.navbar-left
          = active_nav_item t('links.about'), about_path
          
          - if user_signed_in?
            = active_nav_item t('links.forums'), forums_path
            %li= link_to t('links.log_out'), destroy_user_session_path, method: 'delete'
          - else
            = active_nav_item t('links.log_in'), new_user_session_path

        - if user_signed_in?
          %ul.nav.navbar-nav.navbar-right
            %li= link_to current_user.email, dashboard_path            

      #content
        = yield
